{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<div>
  <canvas id="myChart"></canvas>
</div>

    <section>
        <span>Plus téléchargé sur 24 heures</span>
        <span>Plus téléchargé sur 7 jours</span>
        <span>Plus téléchargé all time</span>
        <span>Evolution </span>
    </section>

{% endblock %}