<h2>Top 20 des images téléchargées cette semaine</h2>

<ul>
    {% for image in images %}
        <li>
            <strong>{{ image.name }}</strong><br>
            Nombre de téléchargements : {{ image.nbDownload }}<br>
            <a href="http://localhost:8000/image_proxy_display/{{ image.id }}">Voir l’image</a>
        </li>
    {% endfor %}
</ul>
